.camera {
    height: 100%;
    width: 100%;
    display: block;
}

.geolocation, .orientation {
    display: flex;
    justify-content: center;
}

.map, .map-container {
    height: 200px;
    width: 100%;
}
